@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-slider{
  animation: slideLoop 25s infinite linear;
}
.slide-image {
  flex-shrink: 0;

}


@keyframes slideLoop {
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translateX(-100%);
  }
  
}
