@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-slider{
  animation: slideLoop 25s infinite linear;
}
/* .slide-image {
  flex-shrink: 0;

} */


@keyframes slideLoop {
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translateX(-100%);
  }
  
}

.fade-in{
  transition: .4s all ease-in-out;
  transition-delay: 5s;
  
}
.fade-in.left{
  opacity: 1;
  transform: translateX(0);
}
